# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt

# Required for freqai
scikit-learn==1.7.0
joblib==1.5.1
catboost==1.2.8; 'arm' not in platform_machine
lightgbm==4.6.0
xgboost==3.0.2
tensorboard==2.19.0
datasieve==0.1.9
